<div id="orcamento" class="orcamento-container">
  <div class="orcamento-title-container">
    <h1>Solicite Seu Orçamento</h1>
    <p>Preencha o formulário e receba uma proposta personalizada</p>
  </div>
  <div class="orcamento-items">
    <div class="formulario-container">
      <div class="title-formulario">
        <h2>Dados da Solicitação</h2>
        <p>Preencha as informações para receber seu orçamento gratuito</p>
      </div>
      <form action="solicitacao">
        <div class="item-formulario">
          <div class="label-item">
            <i class="fa-solid fa-user"></i>
            <span>Nome Completo *</span>
          </div>
          <input type="text" name="" id="" placeholder="Seu nome completo" />
        </div>
        <div class="item-formulario">
          <div class="label-item">
            <i class="fa-solid fa-phone"></i>
            <span>Telefone/Whatsapp *</span>
          </div>
          <input type="text" name="" id="" placeholder="(11) 99999-0000" />
        </div>
        <div class="item-formulario">
          <div class="label-item">
            <i class="fa-solid fa-message"></i>
            <span>Tipo de Serviço *</span>
          </div>
          <select name="tipo-servico" id="tipo-servico">
            <option value="">Selecione o tipo de serviço</option>
            <option value="moveis-sob-medida">Móveis Sob Medida</option>
            <option value="restauracao-moveis">Restauração de Móveis</option>
            <option value="reparos-gerais">Reparos e Manutenção</option>
            <option value="acabamentos-instalacoes">
              Acabamentos e Instalações em Madeira
            </option>
            <option value="outros">Outros</option>
          </select>
        </div>
        <div class="item-formulario">
          <div class="label-item">
            <i class="fa-solid fa-calendar"></i>
            <span>Data Preferida para Visita *</span>
          </div>
          <input type="date" />
        </div>
        <div class="item-formulario">
          <div class="label-item">
            <span>Descrição do Projeto</span>
          </div>
          <input
            type="text"
            placeholder="Descre detalhes sobre o projeto, medidas, preferências de material, etc."
          />
        </div>
      </form>
      <div class="button-formulario">
        <button>Solicitar Orçamento Gratuito</button>
      </div>
    </div>
    <div class="tutorial-container">
      <div class="como-funciona-container">
        <span>Como funciona?</span>
        <div>
          <div>
            <div class="icon-circle">
              <span>1</span>
            </div>
            <div class="informacoes">
              <p class="informacoes-title">Solicitação</p>
              <p class="informacoes-leganda">
                Preencha o formulário com suas necessidades
              </p>
            </div>
          </div>
          <div>
            <div class="icon-circle">
              <span>2</span>
            </div>
            <div class="informacoes">
              <p class="informacoes-title">Contato</p>
              <p class="informacoes-leganda">
                Entraremos em contato em até 2 horas úteis
              </p>
            </div>
          </div>
          <div>
            <div class="icon-circle">
              <span>3</span>
            </div>
            <div class="informacoes">
              <p class="informacoes-title">Visita Técnica</p>
              <p class="informacoes-leganda">
                Agendamos uma visita gratuita para medições
              </p>
            </div>
          </div>
          <div>
            <div class="icon-circle">
              <span>4</span>
            </div>
            <div class="informacoes">
              <p class="informacoes-title">Orçamento</p>
              <p class="informacoes-leganda">
                Projeto detalhado com valores transparentes
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="garantias">
        <div class="garantias-title">
          <p>
            <i class="fa-solid fa-check"></i>
            Garantias Incluídas
          </p>
        </div>
        <ol>
          <li>Orçamento gratuito e sem compromisso</li>
          <li>Visita técnica sem custo adicional</li>
          <li>Projeto 3D para móveis sob medida</li>
          <li>Garantia de 2 anos em todos os serviços</li>
        </ol>
      </div>
    </div>
  </div>
</div>
