<div class="container">
  <div class="title-container">
    <h2>Formas de pagamento</h2>
  </div>
  <div class="formas-pagamento-container">
    <div class="forma-pagamento-item">
      <div class="icone-box icone-azul">
        <i class="fa-solid fa-tablet"></i>
      </div>
      <p>PIX</p>
      <p>Pagamento instantâneo com 5% de desconto</p>
    </div>
    <div class="forma-pagamento-item">
      <div class="icone-box icone-marrom">
        <i class="fa-solid fa-credit-card"></i>
      </div>
      <p>Cartão</p>
      <p>Débito, crédito ou parcelamento em até 12x</p>
    </div>
    <div class="forma-pagamento-item">
      <div class="icone-box icone-verde">
        <i class="fa-solid fa-money-bill"></i>
      </div>
      <p>Dinheiro</p>
      <p>À vista no ato da entrega com 3% de desconto</p>
    </div>
  </div>
  <div class="descricao-container">
    <p>
      Facilidade de pagamento: Entrada de 50% no início e restante na entrega para móveis sob medida
    </p>
  </div>
</div>
