<div id="inicio" class="inicio-container">
  <div class="overlay"></div>
  
  <div class="conteudo">
    <div class="informacao-container">
      <i class="fa-solid fa-star"></i>
      <p>Avaliação 4.9/5 - +200 Projetos realizados</p>
    </div>

    <div class="titulo-container">
      <h1>Transformamos madeira em arte para o seu lar</h1>
      <p>
        Móveis sob medida, reparos e restaurações com qualidade artesanal que você
        merece
      </p>
    </div>

    <div class="buttons-container">
      <button>Solicitar Orçamento</button>
      <button>Ver Nossos Serviços</button>
    </div>

    <div class="caracteristicas-container">
      <div class="caracteristicas-item">
        <p>15+</p>
        <p>Anos de Experiência</p>
      </div>
      <div class="caracteristicas-item">
        <p>200+</p>
        <p>Projetos Realizados</p>
      </div>
      <div class="caracteristicas-item">
        <p>98%</p>
        <p>Clientes Satisfeitos</p>
      </div>
    </div>
  </div>
</div>
