<div class="container-header">
  <div class="logo-container">
    <div class="icon-box">
      <i class="icon fa-solid fa-hammer"></i>
    </div>
    <div class="logo-texto-container">
      <span>Madeira & Arte</span>
      <p>Marcenaria Artesanal</p>
    </div>
  </div>
  <div class="container-nav">
    <ul>
      <li><a href="#inicio">Início</a></li>
      <li><a href="#servicos">Serviços</a></li>
      <li><a href="#orcamento">Agende um Horário</a></li>
      <li><a href="#contato">Contato</a></li>
    </ul>
  </div>
  <div class="agendar-button">
    <a href="#orcamento">Agendar Serviço</a>
  </div>
</div>
